.description {
  margin-bottom: 20px;
  text-align: left;
}

.name {
  text-align: left;
}

.item-type-select, .item-type-option {
  text-transform: capitalize;
}

.generate-item-button {
  width: 100%
}